src/main/java/api/wsdl/hxbcb_rt_match.WSDL

<?xml version="1.0"?>
<definitions name="DMService"
        targetNamespace="http://archserver.wsdl.dataflux.com"
        xmlns:tns="http://archserver.wsdl.dataflux.com"
        xmlns:archxsd="archserver.xsd.dataflux.com"

 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>
 <schema
        targetNamespace="archserver.xsd.dataflux.com"
        xmlns:tns="archserver.xsd.dataflux.com"
        xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="unqualified"
        attributeFormDefault="unqualified">

  <complexType name="row__in">
   <sequence>
    <element name="app_id">
     <simpleType>
      <restriction base="string">
       <maxLength value="20"/>
      </restriction>
     </simpleType>
    </element>
    <element name="entity_type">
     <simpleType>
      <restriction base="string">
       <maxLength value="3"/>
      </restriction>
     </simpleType>
    </element>
    <element name="data_type">
     <simpleType>
      <restriction base="string">
       <maxLength value="30"/>
      </restriction>
     </simpleType>
    </element>
    <element name="data_value">
     <simpleType>
      <restriction base="string">
       <maxLength value="255"/>
      </restriction>
     </simpleType>
    </element>
    <element name="data_source">
     <simpleType>
      <restriction base="string">
       <maxLength value="5"/>
      </restriction>
     </simpleType>
    </element>
   </sequence>
  </complexType>

  <complexType name="table__in">
   <sequence>
    <element name="row" type="tns:row__in" minOccurs="1" maxOccurs="unbounded"/>
   </sequence>
  </complexType>


  <complexType name="row__out">
   <sequence>
    <element name="APP_app_id">
     <simpleType>
      <restriction base="string">
       <maxLength value="20"/>
      </restriction>
     </simpleType>
    </element>
    <element name="APP_entity_type">
     <simpleType>
      <restriction base="string">
       <maxLength value="3"/>
      </restriction>
     </simpleType>
    </element>
    <element name="APP_data_type">
     <simpleType>
      <restriction base="string">
       <maxLength value="30"/>
      </restriction>
     </simpleType>
    </element>
    <element name="APP_data_value">
     <simpleType>
      <restriction base="string">
       <maxLength value="255"/>
      </restriction>
     </simpleType>
    </element>
    <element name="APP_data_source">
     <simpleType>
      <restriction base="string">
       <maxLength value="5"/>
      </restriction>
     </simpleType>
    </element>
    <element name="EXT_entity_type">
     <simpleType>
      <restriction base="string">
       <maxLength value="3"/>
      </restriction>
     </simpleType>
    </element>
    <element name="EXT_data_type">
     <simpleType>
      <restriction base="string">
       <maxLength value="30"/>
      </restriction>
     </simpleType>
    </element>
    <element name="EXT_data_value">
     <simpleType>
      <restriction base="string">
       <maxLength value="255"/>
      </restriction>
     </simpleType>
    </element>
    <element name="EXT_data_source">
     <simpleType>
      <restriction base="string">
       <maxLength value="5"/>
      </restriction>
     </simpleType>
    </element>
    <element name="simulation_parsing">
     <annotation>
      <documentation>decimal</documentation>
     </annotation>
     <simpleType>
      <restriction base="string">
      </restriction>
     </simpleType>
    </element>
    <element name="simulation_char">
     <annotation>
      <documentation>decimal</documentation>
     </annotation>
     <simpleType>
      <restriction base="string">
      </restriction>
     </simpleType>
    </element>
    <element name="simulation_cluster">
     <annotation>
      <documentation>integer</documentation>
     </annotation>
     <simpleType>
      <restriction base="string">
      </restriction>
     </simpleType>
    </element>
    <element name="APP_AddInfo">
     <simpleType>
      <restriction base="string">
       <maxLength value="256"/>
      </restriction>
     </simpleType>
    </element>
    <element name="APP_DistrictMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="892"/>
      </restriction>
     </simpleType>
    </element>
    <element name="APP_TownMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="892"/>
      </restriction>
     </simpleType>
    </element>
    <element name="APP_StreetMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="892"/>
      </restriction>
     </simpleType>
    </element>
    <element name="APP_BlockMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="892"/>
      </restriction>
     </simpleType>
    </element>
    <element name="APP_BuildingMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="892"/>
      </restriction>
     </simpleType>
    </element>
    <element name="APP_UnitMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="892"/>
      </restriction>
     </simpleType>
    </element>
    <element name="APP_FloorMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="892"/>
      </restriction>
     </simpleType>
    </element>
    <element name="APP_RoomMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="892"/>
      </restriction>
     </simpleType>
    </element>
    <element name="EXT_AddInfo">
     <simpleType>
      <restriction base="string">
       <maxLength value="256"/>
      </restriction>
     </simpleType>
    </element>
    <element name="EXT_DistrictMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="892"/>
      </restriction>
     </simpleType>
    </element>
    <element name="EXT_TownMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="892"/>
      </restriction>
     </simpleType>
    </element>
    <element name="EXT_StreetMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="892"/>
      </restriction>
     </simpleType>
    </element>
    <element name="EXT_BlockMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="892"/>
      </restriction>
     </simpleType>
    </element>
    <element name="EXT_BuildingMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="892"/>
      </restriction>
     </simpleType>
    </element>
    <element name="EXT_UnitMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="892"/>
      </restriction>
     </simpleType>
    </element>
    <element name="EXT_FloorMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="892"/>
      </restriction>
     </simpleType>
    </element>
    <element name="EXT_RoomMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="892"/>
      </restriction>
     </simpleType>
    </element>
    <element name="APP_NameMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="400"/>
      </restriction>
     </simpleType>
    </element>
    <element name="APP_LegalFormMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="400"/>
      </restriction>
     </simpleType>
    </element>
    <element name="APP_SiteMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="400"/>
      </restriction>
     </simpleType>
    </element>
    <element name="APP_AddMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="400"/>
      </restriction>
     </simpleType>
    </element>
    <element name="EXT_NameMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="400"/>
      </restriction>
     </simpleType>
    </element>
    <element name="EXT_LegalFormMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="400"/>
      </restriction>
     </simpleType>
    </element>
    <element name="EXT_SiteMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="400"/>
      </restriction>
     </simpleType>
    </element>
    <element name="EXT_AddMC">
     <simpleType>
      <restriction base="string">
       <maxLength value="400"/>
      </restriction>
     </simpleType>
    </element>
    <element name="APP_City">
     <simpleType>
      <restriction base="string">
       <maxLength value="256"/>
      </restriction>
     </simpleType>
    </element>
   </sequence>
  </complexType>

  <complexType name="table__out">
   <sequence>
    <element name="row" type="tns:row__out" minOccurs="1" maxOccurs="unbounded"/>
   </sequence>
  </complexType>


  <complexType name="request">
    <sequence>
    <element name="table_" type="tns:table__in" minOccurs="0" maxOccurs="1"/>
   </sequence>
  </complexType>
  <element name="datasvc_hxbcb__rt__match.ddf_in" type="tns:request"/>

  <complexType name="response">
    <sequence>
    <element name="table_" type="tns:table__out" minOccurs="0" maxOccurs="1"/>
   </sequence>
  </complexType>
  <element name="datasvc_hxbcb__rt__match.ddf_out" type="tns:response"/>

 </schema>
</types>


<message name="datasvc_hxbcb__rt__match.ddf_in">
 <part name="body" element="archxsd:datasvc_hxbcb__rt__match.ddf_in"/>
</message>
<message name="datasvc_hxbcb__rt__match.ddf_out">
 <part name="body" element="archxsd:datasvc_hxbcb__rt__match.ddf_out"/>
</message>


<portType name="DataManagementServicePortType">
 <operation name="datasvc_hxbcb__rt__match.ddf_in">
  <documentation></documentation>
  <input message="tns:datasvc_hxbcb__rt__match.ddf_in"/>
  <output message="tns:datasvc_hxbcb__rt__match.ddf_out"/>
 </operation>
</portType>


<binding name="DataManagementService" type="tns:DataManagementServicePortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="datasvc_hxbcb__rt__match.ddf_in">
  <SOAP:operation soapAction="hxbcb_rt_match.ddf*1*5A1573BDD3F008AC"/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
</binding>


<service name="DMService">
 <documentation>Data Management Server</documentation>
 <port name="DMService" binding="tns:DataManagementService">
  <SOAP:address location="http://fna:21036"/>
 </port>
</service>

</definitions>
